<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Product" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <result column="cost_price" property="costPrice" />
    <result column="sale_price" property="salePrice" />
    <result column="image_path" property="imagePath" />
    <result column="intro" property="intro" />
    <result column="brand_id" property="brandId" />
    <result column="brand_name" property="brandName" />


  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `product`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.wms.domain.Product" useGeneratedKeys="true" keyProperty="id" >
    insert into `product` (name, sn, cost_price, sale_price, image_path, intro, brand_id, 
      brand_name)
    values (#{name}, #{sn}, #{costPrice}, #{salePrice}, #{imagePath}, #{intro}, #{brandId},
      #{brandName})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.wms.domain.Product" >
    update `product`
    set name = #{name},
      sn = #{sn},
      cost_price = #{costPrice},
      sale_price = #{salePrice},
      image_path = #{imagePath},
      intro = #{intro},
      brand_id = #{brandId},
      brand_name = #{brandName}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, sn, cost_price, sale_price, image_path, intro, brand_id, brand_name
    from `product`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sn, cost_price, sale_price, image_path, intro, brand_id, brand_name
    from `product`
  </select>
  <sql id="base_where">
    <where>
      <if test="keywords != null">
        AND (name LIKE CONCAT("%",#{keywords},"%") OR brand_name LIKE CONCAT("%",#{keywords},"%"))
      </if>
      <if test="brandId > 0">
        AND brand_id = #{brandId}
      </if>
    </where>
  </sql>
  <select id="queryForCount" resultType="int">
    SELECT count(*) FROM product
    <include refid="base_where"/>

  </select>
  <select id="queryForList" resultMap="BaseResultMap">
    SELECT id,image_path,name,sn,cost_price,brand_name,intro,sale_price FROM product
    <include refid="base_where"/>
    limit #{startIndex}, #{pageSize};
  </select>
</mapper>