<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.StockOutcomeBillItemMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.StockOutcomeBillItem" >
    <id column="id" property="id" />
    <result column="sale_price" property="salePrice" />
    <result column="number" property="number" />
    <result column="amount" property="amount" />
    <result column="remark" property="remark" />
    <result column="bill_id" property="billId" />
    <association property="product" javaType="Product" columnPrefix="p_" >
	<id property="id" column="id" />
    <result property="name" column="name" />
	<result property="salePrice" column="salePrice" />
	<result property="brandName" column="brandName" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `stockoutcomebillitem`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.wms.domain.StockOutcomeBillItem" useGeneratedKeys="true" keyProperty="id" >
    insert into `stockoutcomebillitem` (sale_price, number, amount, remark, product_id, bill_id)
    values (#{salePrice}, #{number}, #{amount}, #{remark}, #{product.id}, #{billId})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select o.id, o.sale_price, o.number, o.amount, o.remark, o.product_id, o.bill_id,p.id p_id,p.name p_name,p.brand_name p_brandName,p.sale_price p_salePrice
    from stockoutcomebillitem o
    left join product p on o.product_id = p.id
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select o.id, o.sale_price, o.number, o.amount, o.remark, o.product_id, o.bill_id,p.id p_id,p.name p_name,p.brand_name p_brandName,p.sale_price p_salePrice
    from stockoutcomebillitem o
    left join product p on o.product_id = p.id
  </select>
  <select id="selectByStockOutcomeBillId" resultMap="BaseResultMap">
    select o.id, o.sale_price, o.number, o.amount, o.remark, o.product_id, o.bill_id,p.id p_id,p.name p_name,p.brand_name p_brandName,p.sale_price p_salePrice
    from stockoutcomebillitem o
    left join product p on o.product_id = p.id
    where o.bill_id = #{billId}
  </select>
  <delete id="deleteByStockOutcomeBillId">
  	delete from `stockoutcomebillitem`
    where bill_id = #{id}
  </delete>
</mapper>